.escuchar-audio {
	font-size: 1rem;
	border-radius: 50%;
	height: 2rem;
	aspect-ratio: 1/1;
	border: none;
	transition: 0.5s;
	color: #fff;
	background: var(--complementary-accent-color);
}

.escuchar-audio:hover {
	background: var(--accent-color);
}

.description {
	text-align: justify;
}

.br-15{
	border-radius: 15px;
}

.fit{
	object-fit: fill;
}

/*------/ Carousel /------*/

.carousel-inner {
	border-radius: 15px;
	border: 2px;
}

.carousel-item img {
	aspect-ratio: 1/1;
	object-fit: cover;
}

/*------/ Nav Pills  /------*/
.nav-pills-a {
	text-decoration: none;
}

.nav-pills-a.nav-pills .nav-link {
	color: black;
	position: relative;
	font-size: 1.5rem;
}

.nav-pills-a.nav-pills .nav-link.active {
	background-color: transparent;
}

.nav-pills-a.nav-pills .nav-link.active:after {
	content: "";
	position: absolute;
	left: 15%;
	bottom: -1px;
	width: 70%;
	height: 2px;
	background-color: var(--alt-complementary-accent-color);

	z-index: 2;
}

/*------/ Title /------*/
.title-wrap {
	padding-bottom: 4rem;
}

.title-a {
	text-decoration: none;
	font-size: 2.6rem;
	font-weight: 600;
}

.title-link {
	font-size: 1.2rem;
	font-weight: 300;
	padding-top: 1.2rem;
}

.title-link a {
	text-decoration: none;
	color: #313131;
}

.title-link span {
	font-size: 20px;
	padding-left: 4px;
	vertical-align: middle;
}

.title-box-d {
	padding-bottom: 1.8rem;
	margin-bottom: 1rem;
	position: relative;

}

.title-box-d .title-d {
	font-weight: 600;
	font-size: 2rem;

}

.title-box-d .title-d:after {
	content: "";
	position: absolute;
	width: 70px;
	height: 4px;
	background-color: var(--alt-complementary-accent-color);
	bottom: 20px;
	left: 0;
}