.escuchar-audio {
	font-size: 1rem;
	border-radius: 50%;
	height: 2rem;
	aspect-ratio: 1/1;
	border: none;
	transition: 0.5s;
	color: #fff;
	background: var(--complementary-accent-color);
}

.escuchar-audio:hover {
	background: var(--accent-color);
}

.description {
	text-align: justify;
}
/*------/ Carousel /------*/
.carouselExampleIndicators {
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
	border-radius: 25px;
}

.carousel-inner {
	border-radius: 15px;
	border: 2px;
}

.carousel-item img {
	height: 350px;
	object-fit: cover;
}

.text-brand {
	color: #000000;
	font-size: 2rem;
	font-weight: 600;
}

@media (max-width: 767px) {
	.text-brand {
		font-size: 1.8rem;
	}
}

/*------/ Nav Pills  /------*/
.nav-pills-a {
	text-decoration: none;
}

.nav-pills-a.nav-pills .nav-link {
	color: #000000;
	position: relative;
	font-weight: 600;
}

.nav-pills-a.nav-pills .nav-link.active {
	background-color: transparent;
}

.nav-pills-a.nav-pills .nav-link.active:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 2px;
	background-color: var(--alt-complementary-accent-color);

	z-index: 2;
}

/*------/ Title /------*/
.title-wrap {
	padding-bottom: 4rem;
}

.title-a {
	text-decoration: none;
	font-size: 2.6rem;
	font-weight: 600;
}

.title-link {
	font-size: 1.2rem;
	font-weight: 300;
	padding-top: 1.2rem;
}

.title-link a {
	text-decoration: none;
	color: #313131;
}

.title-link span {
	font-size: 20px;
	padding-left: 4px;
	vertical-align: middle;
}

.title-box-d {
	padding-bottom: 1.8rem;
	margin-bottom: 1rem;
	position: relative;

}

.title-box-d .title-d {
	font-weight: 600;
	font-size: 2rem;

}

.title-box-d .title-d:after {
	content: "";
	position: absolute;
	width: 70px;
	height: 4px;
	background-color: var(--alt-complementary-accent-color);
	bottom: 20px;
	left: 0;
}

/*------/ Comments /------*/
.box-comments .list-comments li {
	padding-bottom: 3.5rem;
}

.box-comments .list-comments .comment-avatar {
	display: table-cell;
	vertical-align: top;
}

.box-comments .list-comments .comment-avatar img {
	width: 80px;
	height: 80px;
}

.box-comments .list-comments .comment-author {
	font-size: 1.3rem;
}

@media (min-width: 768px) {
	.box-comments .list-comments .comment-author {
		font-size: 1.5rem;
	}
}

.box-comments .list-comments .comment-details {
	display: table-cell;
	vertical-align: top;
	padding-left: 25px;
}

.box-comments .list-comments .comment-description {
	padding: 0.8rem 0 0.5rem 0;
}

.box-comments .list-comments a {
	color: #000000;
}

.box-comments .list-comments span {
	display: block;
	color: #2B2A2A;
	font-style: italic;
}

.box-comments .comment-children {
	margin-left: 40px;
}