.escuchar-audio {
	font-size: 1rem;
	border-radius: 50%;
	height: 2rem;
	aspect-ratio: 1/1;
	border: none;
	transition: 0.5s;
	color: #fff;
	background: var(--complementary-accent-color);
}

.escuchar-audio:hover {
	background: var(--accent-color);
}

.description {
	text-align: justify;
}

.br-15{
	border-radius: 15px;
}

.fit{
	object-fit: fill;
}

/*------/ Carousel /------*/

.carousel-inner {
	border-radius: 15px;
	border: 2px;
}

.carousel-item img {
	aspect-ratio: 1/1;
	object-fit: cover;
}

/*------/ Nav Pills  /------*/
.nav-pills-a {
	text-decoration: none;
}

.nav-pills-a.nav-pills .nav-link {
	color: black;
	position: relative;
	font-size: 1.5rem;
}

.nav-pills-a.nav-pills .nav-link.active {
	background-color: transparent;
}

.nav-pills-a.nav-pills .nav-link.active:after {
	content: "";
	position: absolute;
	left: 15%;
	bottom: -1px;
	width: 70%;
	height: 2px;
	background-color: var(--alt-complementary-accent-color);

	z-index: 2;
}

/*------/ Title /------*/
.title-wrap {
	padding-bottom: 4rem;
}

.title-a {
	text-decoration: none;
	font-size: 2.6rem;
	font-weight: 600;
}

.title-link {
	font-size: 1.2rem;
	font-weight: 300;
	padding-top: 1.2rem;
}

.title-link a {
	text-decoration: none;
	color: #313131;
}

.title-link span {
	font-size: 20px;
	padding-left: 4px;
	vertical-align: middle;
}

.title-box-d {
	padding-bottom: 1.8rem;
	margin-bottom: 1rem;
	position: relative;

}

.title-box-d .title-d {
	font-weight: 600;
	font-size: 2rem;

}

.title-box-d .title-d:after {
	content: "";
	position: absolute;
	width: 70px;
	height: 4px;
	background-color: var(--alt-complementary-accent-color);
	bottom: 20px;
	left: 0;
}

   .weathercontainer {
	width: 100%;
	background: var(--transp-white-2);
	backdrop-filter: blur(10px);
	border: 2px solid var(--transp-white-2);
	border-radius: 0.6em;
	box-shadow: 0 1.8em 3.7em var(--shadow);
	text-align: center;
  }
  .shape {
	position: absolute;
	background-color: var(--transp-white-1);
	backdrop-filter: blur(1.2em);
	border: 2px solid var(--transp-white-2);
	border-radius: 50%;
  }
  .shape-1 {
	height: 13em;
	width: 13em;
	right: -6.5em;
	top: 1.8em;
  }
  .shape-2 {
	height: 11em;
	width: 11em;
	bottom: -3.7em;
	left: -2.5em;
  }
  .result .h2 {
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 0.18em;
	font-weight: 600;
	margin: 1.25em 0;
  }
  .weather,
  .desc {
	color: var(--off-white);
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 0.9em;
	font-weight: 500;
	line-height: 2em;
  }
  .weather {
	margin-top: -0.7em;
  }
  #result img {
	margin: 0.6em 0 0 0;
	width: 6.2em;
	filter: drop-shadow(0 1.8em 3.7em var(--shadow));
  }
  .result .h1 {
	font-size: 3em;
	margin: 0.3em 0 0.7em 0;
	line-height: 0;
	font-weight: 400;
	color: var(--white);
  }
  .temp-container {
	display: flex;
	justify-content: center;
  }
  .temp-container div {
	padding: 0.3em 1em;
  }
  .temp-container div:first-child {
	border-right: 1px solid var(--transp-white-1);
  }
  .temp-container .title {
	font-weight: 600;
	color: var(--white);
  }
  .temp-container .temp {
	font-weight: 300;
	color: var(--off-white);
  }
  .msg {
	margin-top: 1.8em;
	color: var(--white);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
  }
  @media screen and (max-width: 450px) {
	.wrapper {
	  font-size: 14px;
	}
  }