h2 {
	padding-bottom: 1.8rem;
	margin-bottom: 1rem;
	position: relative;
}

h2:after {
	content: "";
	position: absolute;
	width: 70px;
	height: 4px;
	background-color: var(--complementary-accent-color);
	bottom: 20px;
	left: 0;
}

.form-check {
	margin-top: 1rem;
}

.form-check-label.emoji-label {
	font-size: 2rem;
	line-height: 1;
	margin-right: 1rem;
	cursor: pointer;
	background-color: var(--secondary-background-color);
	padding: 0.5rem;
	border-radius: 0.2rem;
}

.form-check-input:checked+.form-check-label.emoji-label {
	box-shadow: 0 0 4px 0.3rem var(--accent-color);
}

.btn-primary{
	background-color: var(--complementary-accent-color);
	border: none;
}

.btn-primary:hover{
	background-color: var(--accent-color);
	border: none;
}