---
export interface Props {
	photo_url: string;
	name: string;
	date: string;
	content: string;
}

const { photo_url, name, date, content } = Astro.props;
---

<div class="card-body p-4">
	<div class="d-flex flex-start">
		<img
			class="rounded-circle shadow-1-strong me-3"
			src={photo_url}
			alt="avatar"
			width="60"
			height="60"
		/>
		<div>
			<h6 class="fw-bold mb-1">{name}</h6>
			<div class="d-flex align-items-center mb-3">
				<p class="mb-0">
					{date}
				</p>
				<a href="#!" class="link-muted"
					><i class="fas fa-pencil-alt ms-2"></i></a
				>
				<a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
				<a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
			</div>
			<p class="mb-0">
				{content}
			</p>
		</div>
	</div>
</div>
