---
import "../css/searchbar.css"
---

<div class="input-group mb-3">
	<input id = "search-bar"type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Alcúdia">
	<button type="button" class="btn btn-warning"><i class="bi bi-search"></i></button>

</div>