---
import Core from "../layouts/Core.astro";
import "../css/index.css";
---

<Core title="Home">
	<section id="hero" class="hero">
		<div class="info d-flex align-items-center">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<h2 data-aos="fade-down">What are you searching?</h2>
						<div class="input-group mb-3">
							<input id = "search-bar"type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Alcúdia">
							<div class="input-group-prepend">
								<button type="button" class="btn btn-warning"><i class="bi bi-search"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			id="hero-carousel"
			class="carousel slide"
			data-bs-ride="carousel"
			data-bs-interval="20000"
		>
			<div class="carousel-item active">
				<img src="/index-carousel/car1.jpg" alt="First slide" />
			</div>
			<div class="carousel-item">
				<img src="/index-carousel/car2.jpg" alt="Second slide" />
			</div>
			<div class="carousel-item">
				<img src="/index-carousel/car3.jpg" alt="Third slide" />
			</div>

		</div>
	</section>
</Core>
