:root {
	--font-color: #1a1a1a;
	--complementary-font-color: #e5e5e5;
	--background-color: #f2e9d2;
	--accent-color: #5da9e9;
	--secondary-background-color: #efefef;
	--complementary-accent-color: #f7b267;
	--alt-complementary-accent-color: #7cc6c7;
	--font-primary: "Lato";
	--font-secundary:"Trebuchet MS";
	--font-base:"sans-serif";
	--color-default: #364d59;
	--color-primary: #feb900;
	--color-secondary: #52565e;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--font-primary), sans-serif;
}

body {
	background-color: var(blue);
}